.addition-answer {
  border-top: 1px solid rgb(233, 215, 215);
  background-color: white;
  padding: 1rem 2rem 2rem;
  p {
    span {
      img {
        width: 50%;
        display: block;
      }
      span {
        width: 1rem;
        display: inline-block;
        height: 1rem;
    }
    }
  }
  > div {
      display: flex;
      justify-content: space-evenly;
  }
  .file {
    border: none;
  }
  .tips {
    justify-content: left;
    text-align: left;
    color: #7e7c7cdd;
    font-size: .7rem;
    margin-top: .2rem;
    span {
      color:red;
      border-radius: .2rem;
      margin-right: .4rem;
    }
  }
  .hadAddfile {
    text-align: left;
    justify-content: left;
    margin: 1rem 0 ;
  }
}
