.logo-header {
    position: fixed;
    z-index: 999;
    .bg {
        // width: 100vw;
        width: 1500px;
        height: 80px;
    }
    .logo {
        position: absolute;
        top: 50%;
        width: 150px;
        transform: translate(60%, -50%) scale(1.4);
    }
}
@media (min-width: 751px) {
    .drawer-logo {
        display: none;
    }
    .main {
        background-color: rgb(237, 237, 237);
        overflow-y: scroll;
        display: flex;
        justify-content: center;
        &::-webkit-scrollbar {
            display: none;
        }
        > main {
            #main {
                padding-right: 50px;
                padding-bottom: 30px;
            }
            background-color: white;
            box-sizing: border-box;
            min-width: 500px;
            width: 991px;
            .navs {
                position: fixed;
                padding: 100px 80px 0 30px;
                box-shadow: 1px -1px 9px #ddd;
                flex: 1;
                height: 80vh;
                height: 100vh;
                overflow: hidden;
            }
            > main {
                .group-name {
                    font-size: 2rem;
                    text-indent: 1rem;
                }
                margin-left: 160px;
                padding-left: 80px;
                padding-top: 12vh;
                min-height: 100vh;
                flex: 2;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }
            .branch-answer {
                padding-left: 20px;
            }
        }
    }
}
@media (max-width: 450px) {
    .logo-header {
        position: fixed;
        z-index: 999;
        .drawer-logo {
            width: 1.4rem;
            position: fixed;
            top: 2.5vh;
            left: 1rem;
            z-index: 9999;
            transform: translateY(-50%);
        }
        .bg {
            width: 1500px;
            height: 5vh;
        }
        .logo {
            position: absolute;
            top: 50%;
            left: 50vw;
            width: 25vw;
            transform: translate(-50%, -50%);
        }
    }
    .navs {
        display: none;
    }
    .main {
        box-sizing: border-box;
        > main {
            > main {
                padding-top: 7vh;
            }
        }
    }
    .siderbar-style {
        padding-top: 5vh;
        div {
            span {
                font-size: .8rem;
                margin-left: .5rem;
            }
        }
    }
    .am-drawer-sidebar {
        background-color: white;
        position: fixed;
    }

}
