.hiden {
    display: none;
}
.manage-main {
    width: 100%;
    > header {
        padding: 0 20px;
        display: block;
        display: flex;
        justify-content: space-between;
        height: 6vh;
        > div {
            font-size: 1.2rem;
            line-height: 6vh;
        }
        .logout {
            border-radius: 10px;
            padding: 0 10px;
            &:hover {
                color: rgba(0, 0, 0, 0.3);
            }
        }
    }
    main {
        header {
            display:  flex;
            justify-content: space-around;
            .switch {
                line-height: 2rem;
            }
        }
    }
}
