.introduce {
    margin-top: 10px;
    .intr {
        margin-top: 50px;
        // border: 1px solid red;
        display: flex;
        justify-content: space-evenly;
        .text {
            flex: 3;
            .title {
                font-size: 1.5rem;
            }
            p {
                margin: 20px;
            }
        }
        .img {
            flex: 1;
            text-align: center;
            position: relative;
            img {
                vertical-align: middle;
                width: 120px;
            }
            .remain-time {
                color: red;
            }
        }
    }
}
@media (max-width: 450px) {
    .introduce {
        width: 100vw;
        box-sizing: border-box;
        padding: 0px 20px;
        .intr {
            .img {
                position: relative;
                > img {
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: 50%;
                    transform: translateY(-70%);
                    line-height: 40vh;;
                    // display: none;
                }
                .clock-title {
                    display: none;
                }
                .remain-time {
                    position: fixed;
                    top: 2.5vh;
                    right: 1rem;
                    z-index: 9999;
                    transform: translate(0, -50%);
                    color: white;
                }
            }
        }
    }
}
@media (min-width: 451px) {
    .webend {
        text-align: center;
        margin-top: .5rem;
        font-size: 1.1rem;
    }
}