.branch-title {
    font-size: 1.5rem;
    margin-top: 40px;
}
@media (min-width: 451px) {
    .branch-introd {
        padding-top: 0.5rem;
        padding-left: 1rem;
        padding-bottom: 5rem;
    }
    .goto-answer {
        text-align: right;
        button {
            border: none;
            background-color: rgb(255, 156, 110);
            padding: 0.5rem 1rem;
            border-radius: 0.2rem;
            margin-right: 2rem;
        }
    }
}
@media (max-width: 450px) {
    .branch-title {
        &::after {
            content: '(滑动了解更多)';
            font-size: .6rem;
            color: rgb(95, 94, 94);
        }
    }
    .branch {
        width: 100vw;
        box-sizing: border-box;
        padding: 0 20px;
        padding-bottom: 3rem;
    }
    .branch-introd {
        padding: 0.5rem 1rem;
    }
    main {
        overflow: hidden;
        overflow: auto;
        .diff-single {
            width: 150vw;
        }
    }
}
