@media (min-width: 751px) {
    .branch-introd {
        padding-top: 0.5rem;
        padding-left: 1rem;
    }
    .branch-title {
        font-size: 1.5rem;
        margin-top: 40px;
    }
    .goto-answer {
        text-align: right;
        button {
            border: none;
            background-color: rgb(255, 156, 110);
            padding: 0.5rem 1rem;
            border-radius: 0.2rem;
            margin-right: 2rem;
        }
    }
}
@media (max-width: 450px) {
  .branch {
    width: 80vw;
  }
}
