.radio-answer {
  border-top: 1px solid rgb(233, 215, 215);
  background-color: white;
  padding: 1rem 2rem 3rem;
  p {
    span {
      img {
        width: 80%;
        display: block;
      }
    }
  }
  > div {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .option {
        margin-top: 1vh;
      }
  }
}